@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Source+Serif+4&display=swap");
:root {
  --primaryTextColor: white;
  --secondaryTextColor: #0f55cc;
  --tertiaryTextColor: #000000;
  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Source Serif 4", serif;
  --light-weigth: 200;
  --regular-weigth: 400;
  --bold-weigth: 700;
}
::placeholder {
  opacity: 0.5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: var(--tertiaryTextColor);
  width: 100%;
  height: 100vh;
  font-family: var(--primaryFont);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 30%;
  height: 60%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
  padding-block-end: 4em;
  flex-direction: column;
  align-items: center;
}
.login-img {
  width: 30%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-block: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-block-end: 20px;
}
a,
a:visited {
  text-decoration: none;
  font-size: 0.9em;
  color: var(--secondaryTextColor);
}
.submit-btn {
  width: 100%;
  background-color: var(--secondaryTextColor);
  color: var(--primaryTextColor);
  font-family: var(--primaryFont);
  font-size: 1.2em;
  height: 2.3em;
  border: none;
  opacity: 0.86;
  transition: opacity 0.5s linear;
}
.submit-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.input-field {
  border: none;
  outline: 0;
  border-bottom: 2px solid rgba(15, 85, 204, 0.1);
  font-size: 1.2em;
}
.input-field:hover {
  border-bottom: 2px solid var(--secondaryTextColor);
}
.input-field:focus {
  border-bottom: 2px solid var(--secondaryTextColor);
}
label {
  font-weight: var(--bold-weigth);
  font-size: 1.5em;
  color: var(--secondaryTextColor);
}

@media (max-width: 1680px) {
  .login-box {
    min-width: 35%;
  }
}
@media (max-width: 1300px) {
  .login-box {
    min-width: 50%;
  }
}
@media (max-width: 900px) {
  .login-box {
    min-width: 70%;
  }
}
@media (max-width: 600px) {
  .login-box {
    min-width: 100%;
  }
}
